.js-continuity-fade-in span {
  transition: 0.8s;
  will-change: transform, opacity;

  @for $index from 2 through 13 {
    &:nth-child(#{$index}) {
      transition-delay: ($index * 0.06) + s;
    }
  }
}

.js-continuity-fade-in[data-animated='false'] span {
  opacity: 0;
  transform: translateY(20%);
}

.js-continuity-fade-in[data-animated='true'] span {
  opacity: 1;
  transform: translateY(0);
}
