.js-fade-in {
  transition: opacity 0.8s, transform 0.8s;
  will-change: opacity, transform;
}

.js-fade-in[data-animated='false'] {
  opacity: 0;
  transform: translateY(30%);
}

.js-fade-in[data-animated='true'] {
  opacity: 1;
  transform: translateY(0);
}
