@import '../abstracts/variables';

html {
  font-size: 62.5%;
}

body {
  font-family: '游ゴシック体', Yu Gothic, YuGothic, 'ヒラギノ角ゴシック Pro',
    Hiragino Kaku Gothic Pro, 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック',
    MS PGothic, sans-serif;
  color: $primaryDark;
  line-height: 1.5;
  background-color: $primaryLight;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: 0;
}

.wrapper {
  max-width: 1232px;
  padding: 0 16px;
  margin: 0 auto;
}

span {
  display: inline-block;
}
